.mainContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--main-0);
}
.content {
    flex: 1;
    width: 1280px;
    margin: 0 auto;
    padding-top: 24px;
}