.name {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}

.infoCard {
  padding: 24px;
  border: 1px solid var(--main-40);
  border-radius: 8px;
  background: white;
  margin-left: -63px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 640px;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.img {
  width: 480px;
}

.info {
  color: var(--main-60);
  padding-right: 8px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  font-weight: 500;
}

.link {
  color: var(--main-100);
}

.skills {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  padding: 16px 0 8px;
}
