.badge {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    height: 26px;
    margin-left: 8px;
}

.dark {
    background: var(--main-80);
    color: var(--main-10);
}

.medium {
    background: var(--main-40);
    color: var(--main-100);
}

.light {
    background: var(--main-20);
    color: var(--main-80);
}