.footer {
    padding: 16px 36px;
    border-top: 1px solid var(--main-40);
}
.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    color: var(--main-60);
}