.button {
    padding: 12px 20px;
    min-height: auto;
    font-size: 16px;
    background: white;
    border: 1px solid var(--main-60);
    cursor: pointer;
    color: #474338;
    transition: all .75s;
    font-weight: 500;
}
.rounded {
    border-radius: 6px;
}

.button:hover {
    background: #eeece7;
}

.cancel {
    background: var(--main-60);
    color: var(--main-0);
}

.cancel:hover {
    background: var(--main-70);
}