.button {
    padding: 12px 20px;
    min-height: auto;
    font-size: 16px;
    background: white;
    border: 1px solid var(--main-80);
    cursor: pointer;
    color: var(--main-80);
    transition: all .75s;
}
.rounded {
    border-radius: 6px;
}

.button:hover {
    background: var(--main-20);
}